name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:

  win32-msvc:
    runs-on: windows-latest

    env:
      SOLUTION_FILE_PATH: msvc15/rvmparser.sln
      BUILD_CONFIGURATION: Release

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}}


  linux-clang:
    runs-on: ubuntu-latest

    env:
      CXX: clang++
      CC: clang

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: make
      working-directory: ${{env.GITHUB_WORKSPACE}}/make
      run: make


  macos-clang:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: make
      working-directory: ${{env.GITHUB_WORKSPACE}}/make
      run: make
